.collection-section {
   padding: 123px 0 200px;
}
.collection {
    padding-top: 126px;
    background-image: url("../../image/collection-bg.svg");
    background-repeat: no-repeat ;
    background-size: 100% 196px; 
}
.collection__list {
    padding-left: 47px;
    display: flex;
    align-items: center;
}
.collection__item1 {
    width: 453px;
    margin-right: 30px;
    text-align: center;
}
.collection__item2{
    width: 450px;
    margin-right: 30px;
    text-align: center;
}
.collection__bold {
    margin-top: 72px;
    display: inline-block;
    color: #333D4B;
    text-align: center;
    font-family: Fraunces , serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: 32px; /* 133.333% */
}
.collection__item3{
    width: 450px;
    margin-right: 30px;
    text-align: center;
}
.collection__item4{
    width: 450px;
    margin-right: 30px;
    text-align: center;
}
.collection__text {
    margin-top: 24px;
    color: #333D4B;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
}
@media only screen and (max-width: 1070px){
    .collection-section{
       padding: 100px 0 129px 0;
    }
    .collection__list{
        width: 100%;
        padding-left: 0;
        flex-direction: column;
    }
    .collection__item1{
        width: 100%;
        margin-right: 0;
        margin-bottom: 47px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }
    .collection__item2{
        width: 100%;
        margin-bottom: 32px;
        margin-right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }
    .collection__item3{
        width:  100%;
        margin-bottom: 32px;
        margin-right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }
    .collection__item4{
        width: 100%;
        margin-right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }
    .collection__bold{
        margin-top: 0;
    }
    .collection__item-inner{
        display: flex;
        flex-direction: column;
        align-items: start;
    }
}
@media only screen and (max-width: 980px){
    .collection-section{
     padding: 100px 77px 129px;
    }
    .collection{
        background-image: url("../image/collection-tablet.png");
        background-size: auto;
        border-radius: 10px;
    }
    .collection__list{
        padding-left: 0;
        flex-direction: column;
    }
    .collection__item1{
        width: 100%;
        margin-right: 0;
        margin-bottom: 47px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
    }
    .collection__item2{
        width: 100%;
        margin-bottom: 32px;
        margin-right: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
    }
    .collection__item3{
        width:  100%;
        margin-bottom: 32px;
        margin-right: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
    }
    .collection__item4{
        width: 100%;
        margin-right: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
    }
    .collection__bold{
        margin-top: 0;
    }
    .collection__item-inner{
        display: flex;
        flex-direction: column;
        align-items: start;
    }
    .collection__text{
        margin-top: 24px;
        align-items: start;
        text-align: start;
        font-size: 15px;
        line-height: 25px;
    }
}
@media only screen and (max-width: 650px){
    .collection-section{
    padding: 100px 46px;
    }
    .collection{
        padding-top: 50px;
        background-image: url("../image/collection-mobile.png");
        background-size: 100%;
    }
    .collection__list{
        margin-top: 30px;
    }
    .collection__item1{
        width: 100%;
        margin-bottom: 48px;
        flex-direction: column;
    }
    .collection__img{
        width: 200px;
        margin-bottom: 24px;
        height: 151px;
    }
    .collection__item2{
        width: 100%;
        margin-bottom: 48px;
        flex-direction: column;
    }
    .collection__item3{
        width: 100%;
        margin-bottom: 48px;
        flex-direction: column;
    }
    .collection__item4{
        width: 100%;
        flex-direction: column;
    }
    .collection__item-inner{
        align-items: center;
    }
    .collection__text{
        margin-top: 16px;
        text-align: center;
    }
}
@media (max-width:350px){
    .collection-section{
        padding-top: 30px;
    }
}