.header__list {
    display: flex;
    align-items: center;
}
.header__item {
    & + & {
        margin-left: 33px;
    }
}
.header__link {
    color: #83888F;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 15px; /* 125% */
    letter-spacing: 0.923px;
    text-transform: uppercase;
    transition: color 0.5s linear;
    
    &:hover{
        color: #333D4B;
    }
}
.hamburger__btn {
    background-color: transparent;
    border: none;
    display: none;
}

@media only screen and (max-width: 800px){
    .site-header{
        padding: 40px 0 53px 0;
    }
}
@media only screen and (max-width: 650px){
    .site-header{
        padding: 32px 0 40px 0;
    }
    .header__img{
        width: 163px;
        height: 18px;
    }
    .header__navbar{
        display: none;
    }
    .hamburger__btn{
        display: block;
    }
}