.quarter-section {
    padding-bottom: 168px;
}
.quarter {
    padding-left: 85px;
}
.quarter__title {
    margin-bottom: 72px;
    color: #83888F;
    font-family: Fraunces , serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: 32px; /* 133.333% */
}
.quarter__list {
    display: flex;
    align-items: start;
}
.quarter__item1 {
    width: 273px;
    margin-right: 108px;
}
.quarter__item2 {
    width: 165px;
    margin-right: 215px;
}
.quarter__item3 {
    width: 165px;
}
.quarter__img1 {
    margin-bottom: 46px;
}
.quarter__img2 {
    margin-bottom: 45px;
}
.quarter__img3 {
    margin-bottom: 48px;
}
.quarter__bold {
    // margin-top: 46px;
    margin-bottom: 24px;
    display: inline-block;
    color: #333D4B;
    font-family: Fraunces , serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 900;
    line-height: 36px; /* 112.5% */
}
.quarter__item-item {
    color: #333D4B;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
}
@media only screen and (max-width: 800px){
    .quarter-section{
        padding-bottom: 144px;
    }
    .quarter{
        padding-left: 0;
    }
    .quarter__item1{
        width: 222px;
        margin-right: 9px;
    }
    .quarter__item2{
        width: 223px;
        margin-right: 10px;
    }
    .quarter__item3{
        width: 223px;
    }
    .quarter__bold{
        margin-bottom: 21px;
        font-size: 24px;
        line-height: 36px;
    }
}
@media only screen and (max-width: 650px){
    .quarter-section{
        padding-bottom: 120px;
    }
    .quarter__title{
        text-align: center;
    }
    .quarter__list{
        flex-direction: column;
    }
    .quarter__img1{
        align-items: center;
    }
    .quarter__item1{
        width: 100%;
        margin-right: 0;
        margin-bottom: 80px;
        text-align: center;
    }
    .quarter__item2{
        width: 100%;
        margin-right: 0;
        margin-bottom: 80px;
        text-align: center;
    }
    .quarter__item3{
        width: 100%;
        text-align: center;
    }
}